@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,700italic,800,700,600italic,600,400italic,300italic,300);
body {
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	font-weight: 400;
	background: #fff;
}

* {
	font-family: 'Open Sans', Arial;
}

h1 span {
	font-size: 26px;
    color: #828282;
}

.page_holder {
	padding-top: 50px;
}

.page_holder .page_width {
	padding: 25px;
	padding-top: 10px;
}

.page_holder .page_width .table_holder {
	background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.content_box {
	background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
	padding: 15px;
}

.content_box h2 {
	margin-top: 0px;
	padding-top: 0px;
}

/*
 *	Dashboard
 */
.dashboard_info {
	margin-top: 15px;
}

.dashboard_info .dashboard_info_box {
	text-align: center;
	font-size: 14px;
	color: #A5A5A5;
	padding: 15px;
	padding-bottom: 25px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.dashboard_info .dashboard_info_box .val {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 28px;
	color: #555;
}