.chat_holder {
	position: fixed;
	left: 0px;
	bottom: 0px;
	z-index: 21;
}

.chat_holder .chat_window {
	float: left;
	width: 300px;
	margin-left: 15px;
  	overflow: hidden;
  	height: 305px;
}

.chat_holder .chat_window.unread_messages .title_bar {
   -webkit-animation: blink 2s linear infinite;
    -moz-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
}
@keyframes blink {
   0% { background: #E2DEDE; }
   50% { background: #999999; }
   100% { background: #E2DEDE; }
}
@-webkit-keyframes blink {
   0% { background: #E2DEDE; }
   50% { background: #999999; }
   100% { background: #E2DEDE; }
}

.chat_holder .chat_window.minimized {
	width: 200px;
}

.chat_holder .chat_window.minimized .maximized_view {
	display: none;
}

.chat_holder .chat_window .minimized_view {
	display: none;
}

.chat_holder .chat_window.minimized .minimized_view {
	display: block;
	padding: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
	box-sizing: border-box;
	cursor: pointer;
	background: #F4F3F3;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  	border-top-left-radius: 4px;
  	border-top-right-radius: 4px;
  	overflow: hidden;
	border: 1px solid rgba(0,0,0,0.1);
	margin-top: 230px;
	height: 35px;
}

.chat_holder .chat_window.minimized .minimized_view:hover {
	background: #D2D2D2;
}

.chat_holder .chat_window .maximized_view {
	background: #F4F3F3;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  	border-top-left-radius: 4px;
  	border-top-right-radius: 4px;
  	overflow: hidden;
	border: 1px solid rgba(0,0,0,0.1);
  	border-bottom: none;
}

.chat_holder .chat_window .title_bar {
	background: #E2DEDE;
	color: #525252;
	font-weight: bold;
	font-size: 16px;
	box-sizing: border-box;
	padding-left: 6px;
}

.chat_holder .chat_window .title_bar .chat_window_name {
	padding: 5px;
	cursor: default;
}

.chat_holder .chat_window .title_bar .options {
	float: right;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 0px;
}

.chat_holder .chat_window .title_bar .options .chat_window_option {
	border: 1px solid rgba(0,0,0,0.2);
	background: rgba(0,0,0,0.1);
	border-radius: 2px;
	padding: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: center;
	cursor: pointer;
	font-size: 12px;
	line-height: 12px;
	margin-left: 3px;
}

.chat_holder .chat_window .title_bar .options .chat_window_option:hover {
	background: rgba(0,0,0,0.3);
}

.chat_holder .chat_window .chat_content {
	padding: 5px;
	height: 240px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.chat_holder .chat_window .chat_value_input {
	box-sizing: border-box;
	width: 100%;
	padding: 5px;
	background: #fff;
	border: none;
	border-top: 1px solid rgba(0,0,0,0.5);
	outline: none;
	height: 40px;
}

.chat_holder .chat_window .chat_content .chat_msg {
	max-width: 80%;
	padding: 3px;
	padding-left: 7px;
	padding-right: 7px;
	background: rgba(224, 224, 224, 1);
	margin-top: 2px;
	margin-bottom: 2px;
	float: left;
	text-align: left;
	border-radius: 6px;
}

.chat_holder .chat_window .chat_content .chat_msg.own {
	background: rgb(244, 213, 92);
	float: right;
}

.chat_holder .chat_window .chat_content .chat_clear {
	clear: both;
}