header.page_navigation {
   margin-top: 35px;
   z-index: 22;
}

.network_navi {
	height: 35px;
	background: #272727;
	transition: all 200ms;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 25;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.8);
}

.sticky .network_navi { 
    box-shadow: none;
}

.network_navi .network_logo {
	color: rgba(255,255,255,0.9);
	font-size: 16px;
	background-image: url('http://flashignite.com/img/flashignite_logo.png');
	background-size: auto 32px;
	background-position: left center;
	background-repeat: no-repeat;
	margin-left: 20px;
	height: 100%;
	width: 250px;
	box-sizing: border-box;
	font-family: 'Fjalla One';
	padding-top: 7px;
	padding-left: 26px;
	cursor: default;
}

.scrolled .network_navi .network_logo {
	background-size: auto 28px;
	padding-top: 5px;
}

.scrolled .network_navi {
	height: 30px;
}

.network_navi .nw_navi_el {
	display: inline-block;
	height: 100%;
	box-sizing: border-box;
	padding-top: 8px;
	padding-right: 10px;
	padding-left: 10px;
	transition: all 120ms;
}

.network_navi .nw_navi_el.active {
	background: rgba(255,255,255,0.2);
}

.scrolled .network_navi .nw_navi_el {
	padding-top: 6px;
}

.network_navi .nw_navi_el.hovered {
	cursor: pointer;
}

.network_navi .nw_navi_el.hovered:hover {
	background: rgba(255,255,255,0.1);
}

.network_navi .nw_navi_el.account_icon {
    font-size: 14px;
    color: #A0A0A0;
}

.network_navi .account_part {
	float: right;
	margin-right: 20px;
	height: 100%;
}

.network_navi .account_part .login_btn {
	color: rgba(255,255,255,0.8);
}

.network_navi .account_icon {
    cursor: pointer;
    position: relative;
}

.network_navi .account_icon:hover {
    color: #CFCFCF;
}

.network_navi .account_icon .box_btn_hint {
   position: absolute;
   bottom: 4px;
   right: 4px;
   background: orange;
   color: #000;
   border-radius: 50%;
   width: 13px;
   height: 13px;
   line-height: 13px;
   font-size: 10px;
   text-align: center;
   padding: 0px;
   box-sizing: border-box;
}

.nw_login_box {
	position: absolute;
	width: 380px;
	right: 20px;
	display: none;
	z-index: 25;
	background-image: url(../img/nw_box_arrow.png);
	background-position: top right 8px;
    background-repeat: no-repeat;
    margin-top: -10px;
}

.nw_login_box.open {
	display: block;
}

.nw_login_box .nw_box_content {
	margin-top: 9px;
	background: #fff;
	border: 1px solid #ddd;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top: 2px solid #f25825;
}

.nw_login_box .title {
	font-size: 22px;
	color: #333;
	padding: 18px;
	padding-bottom: 0px;
	font-family: inherit;
	font-weight: bold;
}

.nw_login_box .box input[type=text], .nw_login_box .box input[type=password] {
	box-sizing: border-box;
	width: 100%;
	background: #fff;
	outline: none;
	border: none;
	box-shadow: none;
	padding: 6px;
}

.nw_login_box .box input[type=password] {
	border-top: 1px solid rgba(0,0,0,0.1);
}

.nw_login_box .box {
	padding: 20px;
}

.nw_login_box .login_input {
	border: 1px solid rgba(0,0,0,0.3);
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 6px;
}

.nw_login_box .login_input .pre {
	width: 30px;
	text-align: center;
	vertical-align: center;
	background: rgba(239, 239, 239, 1);
}

/* Chats Box */
.nw_box_content .nw_chats_box .chat_box_element {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
}

.nw_box_content .nw_chats_box .chat_box_element:hover {
    background: rgb(252, 226, 207);
}

.nw_box_content .nw_chats_box .chat_box_element.new_msg {
    background: orange;
}

.nw_box_content .nw_chats_box .chat_box_element img.chat_summoner_icon {
    border-radius: 50%;
    float: left;
    height: 60px;
    margin-right: 8px;
}

.nw_box_content .nw_chats_box .chat_box_element .chat_element_title {
    font-weight: bold;
    color: #000;
}

.nw_box_content .nw_chats_box .chat_box_element .chat_element_date {
    font-size: 9px;
    margin-top: 2px;
    color: rgba(0,0,0,0.6);
}

/* Notifications */
.notification_linked_element {
	padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
}

.notification_linked_element.no_click {
	cursor: default;
}

.notification_linked_element:after {
	content: ' ';
	display: block;
	clear: both;
}

.notification_linked_element:hover {
    background: rgb(252, 226, 207);
}

.notification_linked_element img.notification_summoner_icon {
    border-radius: 50%;
    float: left;
    height: 60px;
    margin-right: 8px;
}

#notification_effect_holder {
	position: fixed;
	left: 15px;
	bottom: 15px;
	z-index: 50;
}

#notification_effect_holder .notification_linked_element {
	background: #fff;
	border-radius: 5px;
	width: 378px;
	border: 1px solid rgba(0,0,0,0,0.3);
}

#notification_effect_holder .notification_linked_element:hover {
    background: rgb(255, 170, 107);
}