header.page_navigation {
   margin-top: 35px;
   z-index: 22;
}

.network_navi {
	height: 35px;
	background: #3D3D3D;
	transition: all 200ms;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 25;
}

.network_navi .network_logo {
	color: rgba(255,255,255,0.9);
	font-size: 16px;
	background-image: url('http://flashignite.com/img/flashignite_logo.png');
	background-size: auto 32px;
	background-position: left center;
	background-repeat: no-repeat;
	margin-left: 20px;
	height: 100%;
	width: 250px;
	box-sizing: border-box;
	font-family: 'Fjalla One';
	padding-top: 7px;
	padding-left: 26px;
	cursor: default;
}

.scrolled .network_navi .network_logo {
	background-size: auto 28px;
	padding-top: 5px;
}

.scrolled .network_navi {
	height: 30px;
}

.network_navi .nw_navi_el {
	display: inline-block;
	height: 100%;
	box-sizing: border-box;
	padding-top: 8px;
	padding-right: 10px;
	padding-left: 10px;
	transition: all 120ms;
}

.network_navi .nw_navi_el.active {
	background: rgba(255,255,255,0.2);
}

.scrolled .network_navi .nw_navi_el {
	padding-top: 6px;
}

.network_navi .nw_navi_el.hovered {
	cursor: pointer;
}

.network_navi .nw_navi_el.hovered:hover {
	background: rgba(255,255,255,0.1);
}

.network_navi .nw_navi_el.account_icon {
    font-size: 14px;
    color: #A0A0A0;
}

.network_navi .account_part {
	float: right;
	margin-right: 20px;
	height: 100%;
}

.network_navi .account_part .login_btn {
	color: rgba(255,255,255,0.8);
}

.network_navi .account_icon {
    cursor: pointer;
}

.network_navi .account_icon:hover {
    color: #CFCFCF;
}

.nw_login_box {
	position: absolute;
	width: 380px;
	right: 20px;
	display: none;
	z-index: 25;
	background-image: url(../img/nw_box_arrow.png);
	background-position: top right 8px;
    background-repeat: no-repeat;
      margin-top: -10px;
}

.nw_login_box.open {
	display: block;
}

.nw_login_box .nw_box_content {
	margin-top: 9px;
	background: #fff;
	height: 180px;
	border: 1px solid #ddd;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top: 2px solid #f25825;
}

.nw_login_box .title {
	font-size: 22px;
	color: #333;
	padding: 18px;
	padding-bottom: 0px;
	font-family: inherit;
	font-weight: bold;
}

.nw_login_box .box input[type=text], .nw_login_box .box input[type=password] {
	box-sizing: border-box;
	width: 100%;
	background: #fff;
	outline: none;
	border: none;
	box-shadow: none;
	padding: 6px;
}

.nw_login_box .box input[type=password] {
	border-top: 1px solid rgba(0,0,0,0.1);
}

.nw_login_box .box {
	padding: 20px;
}

.nw_login_box .login_input {
	border: 1px solid rgba(0,0,0,0.3);
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 6px;
}

.nw_login_box .login_input .pre {
	width: 30px;
	text-align: center;
	vertical-align: center;
	background: rgba(239, 239, 239, 1);
}