.player_team_element {
	margin-bottom: 15px;
}

.player_team_element .team_name {
	font-weight: bold;
	margin-top: 8px;
	font-size: 16px;
	text-align: center;
}

.player_team_element .team_icon {
	text-align: center;
}

.player_team_element .team_icon img {
	height: 95px;
	margin-bottom: 15px;
}

.player_ranked_stats.smaller {
	max-height: 400px;
	overflow: hidden;
	position: relative;
}

.player_ranked_stats .minimizer {
	display: none;
}

.player_ranked_stats.smaller .minimizer {
	display: block;
	position: absolute;
	bottom: 0px;
	width: 100%;
	box-sizing: border-box;
	background: url(../img/small_white_gradient.png);
	background-repeat: repeat-x;
	background-position: center bottom;
	text-align: center;
	padding-top: 25px;
	font-weight: bold;
	color: #f25825;
	cursor: pointer;
	transition: all 300ms;
	font-size: 14px;
	text-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.player_ranked_stats.smaller .minimizer:hover {
	color: #000;
}