.teams_premium_permission_table {
	width: 100%;
	border: none;
	border-collapse: collapse;
}

.teams_premium_permission_table thead th {
	font-weight: bold;
	text-align: center;
}

.teams_premium_permission_table tbody tr td {
	padding: 15px;
	vertical-align: middle;
}

.teams_premium_permission_table tbody tr td.td_checkbox {
	text-align: center;
}