.teams_premium_permission_table {
	width: 100%;
	border: none;
	border-collapse: collapse;
}

.teams_premium_permission_table thead th {
	font-weight: bold;
	text-align: center;
}

.teams_premium_permission_table tbody tr td {
	padding: 15px;
	vertical-align: middle;
}

.teams_premium_permission_table tbody tr td.td_checkbox {
	text-align: center;
}

/*
 *	Calendar
 */
.team_calendar .calendar_days {
	padding-left: 1px;
	padding-top: 1px;
}

.team_calendar .calendar_days .day {
	border: 1px solid #B3B3B3;
	box-sizing: border-box;
	width: 14.285714286%;
	height: 130px;
	float: left;
	margin-top: -1px;
	margin-left: -1px;
	cursor: pointer;
	background: #fff;
}

.team_calendar .calendar_days .day:hover {
	background: rgba(0,0,0,0.05);
}

.team_calendar .calendar_days .day.other_month {
	opacity: 0.5;
	cursor: default;
}

.team_calendar .calendar_days .day.other_month:hover {
	background: #fff;
}

.team_calendar .calendar_days .day .title {
	padding: 3px;
	background-color: rgba(0,0,0,0.1);
}

.team_calendar .calendar_days .day .day_content {
	padding: 25px;
}

.team_calendar .calendar_days .day .day_content .no_events {
	background: rgba(0,0,0,0.05);
	border-radius: 4px;
	color: #A0A0A0;
	text-align: center;
	margin-top: 5px;
	padding: 10px;
}